{# this block contains all of the basic UI elements that will be used across the site #}
{# headings, subdheadings, rich text, images, etc. - anything that is used in darn near every block can reside here as macros. #}
{# the ordering for macros in this file is based on heiarchy, but is not strict - an h1 element will be above an h2, an h2 would be above rich text (conceptually a p tag), etc. #}

{% macro Title(text, textColor, bgColor) %}
   <h1 class="text-5xl !pb-0 w-max " style="color: {{ textColor ?? 'gray' }}; background-color: {{ bgColor ?? '' }};">{{ text ?? 'Title' }}</h1>
{% endmacro %}

{% macro Subtitle(text, textColor, bgColor) %}
      <h2 class="w-max" style="color: {{ textColor ?? 'grey' }}; background-color: {{ bgColor ?? '' }};">{{ text ?? 'Subtitle' }}</h2>
{% endmacro %}

{% macro RichText(richText, textColor) %}
   <div style="color: {{ textColor ?? '' }}" class="prose">
      {{ richText }}
   </div>
{% endmacro %}

{% macro ImageOriginal(imageData) %}
   {% set blurClasses = {
      'none': '',
      'small': 'blur-sm',
      'medium': 'blur-lg',
      'large': 'blur-2xl',
   } %}

   {% set brightnessClasses = {
      '150': 'brightness-150',
      '125': 'brightness-125',
      '110': 'brightness-110',
      '100': '',
      '105': 'brightness-105',
      '75': 'brightness-75',
      '50': 'brightness-50',
   } %}

   {% set contrastClasses = {
      '150': 'contrast-150',
      '125': 'contrast-125',
      '100': '',
      '75': 'contrast-75',
      '50': 'contrast-50',
   } %}

   {% set saturationClasses = {
      '150': 'saturate-150',
      '125': 'saturate-125',
      '100': '',
      '75': 'saturate-75',
      '50': 'saturate-50',
      '0': 'saturate-0',
   } %}

   {% set fitClasses = {
      'cover': 'object-cover',
      'contain': 'object-contain',
      'fill': 'object-fill',
      'scaleDown': 'object-scale-down',
      'none': 'object-none',
   } %}

   {% set image = imageData.image.one() %}
   {% set focalPointX = image.focalPoint.x * 100 ~ '%' | default("center") %}
   {% set focalPointY = image.focalPoint.y * 100 ~ '%' | default("center") %}

   <picture class="w-full h-full">
      <source srcset="{{ image.originalImageTransform.srcset() }}"
              sizes="100vw"
              type="image/webp"/>
      <img loading="lazy"
           src="{{ image.originalImageTransform.placeholderImage() }}"
           srcset="{{ image.originalImageTransform.srcsetWebP() }}"
           sizes="100vw"
           width="{{ image.width }}"
           height="{{ image.height }}"
           alt="{{ image.alt }}"
           class="w-full h-full overflow-clip {{ fitClasses[imageData.imageFit.value] }} {{ blurClasses[imageData.blur.value] }} {{ brightnessClasses[imageData.brightness.value] }} {{ contrastClasses[imageData.contrast.value] }} {{ saturationClasses[imageData.saturation.value] }}"
           style="{% if imageData.imageFit.value == 'cover' %}object-position:{{ focalPointX }} {{ focalPointY }};{% endif %}"/>
   </picture>
{% endmacro %}