{# --------------------------------------- #}
{# --------------pines macro-------------- #}
{# --------------------------------------- #}

{% macro pines(data) %}

      {% if data is null %}
         {{ dump('No data was passed to the Alert element! Placeholder data will be used.') }}
         {% set data = {
            title: 'Title',
            text: 'This is some placeholder text.',
            richText: 'This is some placeholder richtext.' }
         %}
      {% endif %}

         <div class="relative w-full rounded-lg border-surface-200 bg-surface-50 p-4 [&>svg]:absolute [&>svg]:text-foreground [&>svg]:left-4 [&>svg]:top-4 [&>svg+div]:translate-y-[-3px] [&:has(svg)]:pl-11 text-primary-900">
            <i data-lucide="info" class="w-6 h-6"></i>
            <h5 class="mb-1 font-medium leading-none tracking-tight">{{ data.title}}</h5>
            <div class="text-sm opacity-70">{{ data.richText }}</div>
         </div>

{% endmacro %}



{# --------------------------------------- #}
{# --------------daisy macro-------------- #}
{# --------------------------------------- #}
{% macro daisy(data) %}
      {% import './_components/elements/button.twig' as Button %}
      {% if data is null %}
         {{ dump('No data was passed to the Alert element! Placeholder data will be used.') }}
         {% set data = {
            text: 'This is some text',
            richText: 'This is some richtext' }
         %}
      {% endif %}

      <div role="alert" class="alert rounded-default relative bg-surface-50 border-surface-200 ">
         <i data-lucide="info" class="w-6 h-6 stroke-primary-600"></i>
         <div class="flex flex-col text-primary-900">
            <span class="font-bold text-xl">{{ data.title }}</span>
            <span>{{ data.richText }}</span>
         </div>
      </div>
{% endmacro %}