{% macro filled(data) %}

   {% if data is null %}
      {{ dump('No data was passed to the Button element! Placeholder data will be used.') }}
      {% set data = {
         buttonText: 'Click Me',
         buttonLink: '/' }
      %}
   {% endif %}

   <button type="button" href="{{ data.buttonLink }}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide bg-surface-800 hover:bg-surface-900 text-primary-100 hover:text-primary-300 transition-colors duration-200 rounded-default focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-none group">
      <span>{{ data.buttonText }}</span>
      <i class="stroke-primary-100 group-hover:stroke-primary-300 ml-2" data-lucide="arrow-right"></i>
   </button>

{% endmacro %}

{% macro outline(data) %}

   {% if data is null %}
      {{ dump('No data was passed to the Button element! Placeholder data will be used.') }}
      {% set data = {
         buttonText: 'Click Me',
         buttonLink: '/' }
      %}
   {% endif %}

   <button type="button" href="{{ data.buttonLink }}" class="inline-flex items-center justify-center px-4 py-2 text-sm text-primary-700 hover:text-primary-800 font-medium tracking-wide transition-colors duration-200 bg-surface-50 border-2 rounded-md border-surface-900 hover:bg-surface-900">
      <span>{{ data.buttonText }}</span>
      <i class="stroke-white hover:stroke-red-500 ml-2" data-lucide="arrow-right"></i>
   </button>

{% endmacro %}