
{# the default image card is the *only card* that has rich text by default. #}
{# balancing images with large amounts of text usually results in issues where the content will stretch to odd porportions. #}

{% macro default(data) %}
   {% import '_components/elements/button.twig' as Button %}
   {% if data is null %}
      {{ dump('No data was passed to the Card element! Placeholder data will be used.') }}
      {% set data = {
         title: 'Title',
         richText: 'This is some placeholder text.',
         button: [{buttonText: 'Button', buttonLink: 'https://www.google.com'}] }
      %}
   {% endif %}
   <div class="max-w-xs bg-surface-50 border rounded-default shadow-sm hover:shadow-md hover:scale-[1.01] transition-transform p-7 border-surface-200/60 flex flex-col justify-between">
      <div>
         <h5 class="text-xl font-bold leading-none tracking-tight mb-3">{{ data.title }}</h5>
         <div class="mb-4">{{ data.richText }}</div>
      </div>
      {{ Button.filled(data.button[0]) }}
   </div>
{% endmacro %}


{% macro imageVertical(data) %}
   {% import '_components/elements/button.twig' as Button %}
   {% if data is null %}
      {{ dump('No data was passed to the Image Card element! Placeholder data will be used.') }}
      {% set data = {
         title: 'Title',
         richText: 'This is some placeholder text',
         button: [{buttonText: 'Button', buttonLink: 'https://www.google.com'}],
         image: ''
      } %}
   {% endif %}
   <div class="rounded-lg overflow-hidden border border-surface-200/60 bg-surface-50 text-neutral-700 rounded-default shadow-sm w-[380px] max-w-sm">
      <div class="relative">
         <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="w-full h-auto" alt=""/>
      </div>
      <div class="p-7 flex flex-col gap-4">
         <div>
            <h2 class="mb-2 text-lg font-bold leading-none tracking-tight">{{ data.title }}</h2>
            <p class="mb-5 text-neutral-500">{{ data.richText }}</p>
         </div>
         {{ Button.filled(data.button[0]) }}
      </div>
   </div>
{% endmacro %}



{% macro imageHorizontal(title, text, buttonProps, image) %}
   {% import '_components/elements/button.twig' as Button %}
   {% if data is null %}
      {{ dump('No data was passed to the Image Card element! Placeholder data will be used.') }}
      {% set data = {
         title: 'Title',
         richText: 'This is some placeholder text',
         button: [{buttonText: 'Button', buttonLink: 'https://www.google.com'}],
         image: ''
      } %}
   {% endif %}
   <div class="flex items-center max-w-2xl overflow-hidden bg-white border rounded-lg shadow-sm border-neutral-200/60">
      <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="object-cover w-auto h-48 aspect-video"  alt=""/>
      <div class="p-8">
         <a href="#_" class="block mb-3">
            <h5 class="text-xl font-bold leading-none tracking-tight text-neutral-900">Card Title</h5>
         </a>
         <p class="mb-4 text-sm text-neutral-500">This card element can be used to display a product, post, or any other type of data.</p>
         {{ Button.filled(data.button[0]) }}
      </div>
   </div>
{% endmacro %}