{% extends 'index.twig' %}

{% import '_templates/elements/button.twig' as Button %}

{% block body %}

    {% set blocks = craft.entries().section('blog').all() %}
    {% set entries = craft.entries().section('blogPosts').all() %}


    {% for block in blocks %}
<div class="py-20 min-h-[75vh]">
    <div class="bg-gray-300 relative flex items-center justify-center mb-12 md:mb-20">
        <div class="md:flex text-white z-10 block-container block-padding">
            <div class="md:w-1/2 md:pr-4">
                <h1 class="text-3xl md:text-5xl text-white">{{ block.title }}</h1>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="py-20 min-h-[70vh]">
        <div class="block-container grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for entry in entries %}
                <article class="bg-white rounded-lg overflow-hidden transition-shadow duration-300 flex">
                    <div class="flex-shrink-0 w-24 md:w-36 flex items-center justify-center p-4 bg-gray-100 relative">
                        <svg id="Layer_1" viewBox="0 0 512 512" height="75" width="75" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M434.5,72.3V412c0,33.6-27.5,61.1-61,61.1H126.7c-5.6,0-11-1-16.2-2.5c7.8,23.7,30,41.1,56.2,41.1h249.9   c32.7,0,59.5-26.8,59.5-59.5V128.8C476.1,102.3,458.5,80,434.5,72.3z" fill="black"/><path d="M345.2,0H95.4C62.7,0,35.9,26.8,35.9,59.5V383c0,32.7,26.8,59.5,59.5,59.5h249.9   c32.7,0,59.5-26.8,59.5-59.5V59.5C404.7,26.8,378,0,345.2,0z M364.2,349.8c0,25.7-21.1,46.8-46.8,46.8H120.9   c-25.7,0-46.8-21.1-46.8-46.8V95.4c0-25.7,21.1-46.8,46.8-46.8h196.6c25.7,0,46.8,21.1,46.8,46.8V349.8z" fill="black"/><g><path d="M319.8,117.5H190.5c-5.4,0-9.8-4.4-9.8-9.8v-0.7c0-5.4,4.4-9.8,9.8-9.8h129.3c5.4,0,9.8,4.4,9.8,9.8v0.7    C329.7,113.1,325.2,117.5,319.8,117.5z" fill="black"/><path d="M319.8,175.2H120.4c-5.4,0-9.8-4.4-9.8-9.8v-0.7c0-5.4,4.4-9.8,9.8-9.8h199.5c5.4,0,9.8,4.4,9.8,9.8v0.7    C329.7,170.7,325.2,175.2,319.8,175.2z" fill="black"/><path d="M319.8,232.8H120.4c-5.4,0-9.8-4.4-9.8-9.8v-0.7c0-5.4,4.4-9.8,9.8-9.8h199.5c5.4,0,9.8,4.4,9.8,9.8v0.7    C329.7,228.4,325.2,232.8,319.8,232.8z" fill="black"/><path d="M319.8,290.5H120.4c-5.4,0-9.8-4.4-9.8-9.8v-0.7c0-5.4,4.4-9.8,9.8-9.8h199.5c5.4,0,9.8,4.4,9.8,9.8v0.7    C329.7,286.1,325.2,290.5,319.8,290.5z" fill="black"/><path d="M319.8,348.2H120.4c-5.4,0-9.8-4.4-9.8-9.8v-0.7c0-5.4,4.4-9.8,9.8-9.8h199.5c5.4,0,9.8,4.4,9.8,9.8v0.7    C329.7,343.7,325.2,348.2,319.8,348.2z" fill="black"/></g></g></svg>
                    </div>

                    <div class="flex-grow p-6 bg-gray-50">
                        <h4 class="text-xl font-semibold mb-2">
                            <a href="{{ entry.url }}" class="text-gray-800 hover:text-black transition-colors duration-200">
                                {{ entry.title }}
                            </a>
                        </h4>

                        <p class="text-sm text-gray-600 mb-4">
                            {{ entry.postDate|date('F j, Y') }}
                        </p>

                        {{ Button.default({
                            text: 'View Blog Post',
                            link: entry.url
                        }) }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock body %}