{% import '_components/elements/_basic.twig' as Basic  %}
{% import '_components/elements/button.twig' as Button %}

{% set latestEntries = craft.entries().section('blogPosts').orderBy('postDate desc').limit(3).all() %}

<div class="block-container items-center justify-center mb-10 md:mb-16">
    <h1 class="text-3xl md:text-5xl text-black">{{ block.title }}</h1>
</div>
<div class="block-container grid grid-cols-1 lg:grid-cols-3 gap-8">
    {% for entry in latestEntries %}
        <article class="bg-white rounded-lg overflow-hidden transition-shadow duration-300">
            <div class="flex-shrink-0 h-44 w-full flex items-center justify-center blog-pre-img relative">
                {{ Basic.ImageOriginal(entry.singleImage.one()) }}
            </div>
            <div class="flex-grow p-6">
                <p class="text-sm text-gray-600">
                    {{ entry.postDate|date('F j, Y') }}
                </p>

                <h3 class="text-2xl font-semibold mb-4">
                    <a href="{{ entry.url }}" class="text-gray-800 hover:text-black transition-colors duration-200">{{ entry.title }}</a>
                </h3>

                <div>
                    {{ entry.richText50 }}
                </div>

                {{ Button.outline({
                    buttonText: 'View Blog Post',
                    buttonLink: entry.url
                }) }}
            </div>
        </article>
    {% endfor %}
</div>

<style>
    .blog-pre-img img {
        border-radius: 20px;
    }
</style>