{% extends '_layouts/blockWrapper.twig' %}

{% import '_components/elements/_basic.twig' as Basic  %}

{% set textAlignment = {
   'left': 'md:flex-row',
   'right': 'md:flex-row-reverse'
} %}

{% block blockWrapper %}
{% if block.singleImage %}
   <div class="flex flex-col {{ textAlignment[block.textAlignmentLR.value] }} w-full gap-12">
      <div class="w-full md:w-1/2 my-auto prose">
         {{ Basic.Title(block.title) }}
         {{ Basic.Subtitle(block.subtitle) }}
         {{ Basic.RichText(block.richText) }}
      </div>
      <div class="w-full md:w-1/2 h-[600px] overflow-clip rounded-md object-center">
         {# handle an image or a video - if neighter are uploaded we're going to render a normal text block #}
         {% if not block.mediaToggle %}
               {{ Basic.ImageOriginal(block.singleImage|first) }}
         {% elseif block.mediaToggle %}
            <p>video</p>
         {% else %}
            {{ dump('error loading media') }}
         {% endif %}
      </div>
   </div>
{% else %}
   {# if there isn't an image or video, we fall back to a dimple text block #}
   {{ include('_components/blocks/richTextBlock.twig') }}
{% endif %}
{% endblock %}