{% import _self as macros %}

{# placeholder logo #}
{% set logo %}
   <svg xmlns="http://www.w3.org/2000/svg" class="h-14" fill="none" viewBox="0 0 82 40"><path fill="#FFD43D" d="M73.365 19.71c0 2.904-2.241 5.31-5.27 5.31-3.03 0-5.228-2.406-5.228-5.31 0-2.905 2.199-5.312 5.228-5.312s5.27 2.407 5.27 5.311Z"></path><path fill="#FF0C81" d="M48.764 19.544c0 2.946-2.323 5.145-5.27 5.145-2.904 0-5.227-2.2-5.227-5.145 0-2.947 2.323-5.104 5.228-5.104 2.946 0 5.27 2.158 5.27 5.104Z"></path><path fill="#11EEFC" d="M20.074 25.02c3.029 0 5.27-2.406 5.27-5.31 0-2.905-2.241-5.312-5.27-5.312-3.03 0-5.228 2.407-5.228 5.311 0 2.905 2.199 5.312 5.228 5.312Z"></path><path fill="#171A26" d="M68.095 30.54c-6.307 0-11.12-4.897-11.12-10.872 0-5.934 4.855-10.83 11.12-10.83 6.349 0 11.162 4.938 11.162 10.83 0 5.975-4.855 10.871-11.162 10.871Zm0-5.52c3.03 0 5.27-2.406 5.27-5.31 0-2.905-2.24-5.312-5.27-5.312-3.029 0-5.228 2.407-5.228 5.311 0 2.905 2.199 5.312 5.228 5.312ZM43.08 40c-4.813 0-8.506-2.116-10.373-5.934l4.896-2.655c.913 1.784 2.614 3.195 5.394 3.195 3.486 0 5.85-2.448 5.85-6.473v-.374c-1.12 1.411-3.111 2.49-6.016 2.49-5.768 0-10.373-4.481-10.373-10.581 0-5.934 4.813-10.788 11.12-10.788 6.431 0 11.162 4.605 11.162 10.788v8.299C54.74 35.27 49.76 40 43.08 40Zm.415-15.311c2.946 0 5.27-2.2 5.27-5.145 0-2.947-2.324-5.104-5.27-5.104-2.905 0-5.228 2.158-5.228 5.104s2.323 5.145 5.228 5.145ZM20.074 30.54c-6.307 0-11.12-4.897-11.12-10.872 0-5.934 4.854-10.83 11.12-10.83 6.348 0 11.162 4.938 11.162 10.83 0 5.975-4.855 10.871-11.162 10.871Zm0-5.52c3.029 0 5.27-2.406 5.27-5.31 0-2.905-2.241-5.312-5.27-5.312-3.03 0-5.228 2.407-5.228 5.311 0 2.905 2.199 5.312 5.228 5.312ZM0 0h5.892v30H0V0ZM82 6.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"></path></svg>
{% endset %}

{% set navNodes = craft.navigation.nodes().handle('default').level(1).all() %}

<nav class="w-full flex justify-center bg-surface-100 p-4 px-8 relative">
   <div class="w-full max-w-screen-xl flex items-center justify-between ">
      {# LOGO #}
      <a href="/">
         {{ logo }}
      </a>


      {# DESKTOP NAV #}
      <div class="hidden md:flex gap-4">
         {% for node in navNodes %}
            {% if node.hasDescendants() %}
               {{ macros.navNodes(node) }}
            {% else %}
               <button href="{{ node.url }}" class="px-4 py-2 text-surface-800 hover:text-surface-900 hover:bg-surface-300 hover:shadow-inner transition-colors duration-200" >
                  {{ node.title }}
               </button>
            {% endif %}
         {% endfor %}
      </div>


      {# MOBILE NAV #}
      <div x-data="{open: false}"
           class="flex md:hidden h-12 items-center justify-center aspect-square">

         {# menu burger button #}
         <svg x-on:click="open = !open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="stroke-black z-[9999] w-10 h-10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <line class="origin-center transition-transform duration-400" :class="open ? 'rotate-45 translate-y-1 -translate-x-1' : 'rotate-0'" x1="4" x2="20" y1="6" y2="6"></line>
            <line class="origin-center transition-opacity duration-400" :class="open ? 'opacity-0' : 'opacity-100'" x1="4" x2="20" y1="12" y2="12"></line>
            <line class="origin-center transition-transform duration-400" :class="open ? '-rotate-45 -translate-y-1 -translate-x-1' : 'rotate-0'" x1="4" x2="20" y1="18" y2="18"></line>
         </svg>

         <div :class="open ? 'translate-x-0' : 'translate-x-full'" class="transition-transform duration-200 fixed w-[90%] h-full bg-surface-200 top-0 right-0 z-50 flex flex-col justify-center items-center gap-8 text-2xl">

            {% for node in navNodes %}
               {% if node.hasDescendants() %}
                  <p>children</p>
               {% else %}
                  <p>not children</p>
               {% endif %}
            {% endfor %}

         </div>
         <div x-on:click="open = !open" :class="open ? 'opacity-50 delay-200 duration-300' : 'opacity-0'" class="left-0 top-0 fixed h-full w-[11%] bg-black z-40">
         </div>
      </div>

   </div>
</nav>


{% macro navNodes(node) %}
   {% import _self as macros %}
   <div class="relative flex justify-center"
        x-data="{open: false}"
        x-on:mouseleave="open = false">

         <button href="{{ node.url }}"
                 x-on:mouseenter="open = true"
                 :class="open ? 'bg-surface-300 text-surface-900 shadow-inner' : ''"
                 class="relative px-4 py-2 flex text-surface-800 transition-colors duration-200">

            {{ node.title }} <span :class="open ? 'rotate-90 origin-center' : ''" class="pl-1 transition-transform"><i data-lucide="chevron-right"></i></span>
         </button>

         <ul
            x-show="open"
            x-ref="menu"
            class="absolute menu bg-surface-200 w-full top-10 [&_li>*]:rounded-none z-[9999] shadow-xl">

            {% for subnode in node.children() %}
               {{ macros.subNavNodes(subnode) }}
            {% endfor %}
         </ul>
   </div>
{% endmacro %}


{% macro subNavNodes(node) %}
   {% import _self as macros %}
      {% if node.hasDescendants() %}
         {% for subnode in node.children() %}
            {{ macros.subNavNodes(subnode) }}
         {% endfor %}
      {% else %}
         <li class="text-primary-800 hover:text-primary-600 hover:bg-surface-100"><a href="{{ node.url }}">{{ node.title }}</a></li>
      {% endif %}
{% endmacro %}


{% macro mobileNavNodes(node) %}
   {% import _self as macros %}
   {% for subnode in node %}
      {% if node.hasDescendants() %}
            <button>Subnodes:</button>
            {{ macros.mobileNavNodes(subnode) }}

      {% else %}
         <li>{{ node.title }}</li>
      {% endif %}
{% endfor %}
{% endmacro %}