{% import '_templates/elements/image.twig' as Image  %}
{% import '_templates/elements/button.twig' as Button %}

{% set latestEntries = craft.entries().section('blogPosts').orderBy('postDate desc').limit(3).all() %}

<div class="block-container items-center justify-center mb-10 md:mb-16">
    <h1 class="text-3xl md:text-5xl text-black">{{ block.title }}</h1>
</div>
<div class="block-container grid grid-cols-1 lg:grid-cols-3 gap-8">
    {% for entry in latestEntries %}
        <article class="bg-white rounded-lg overflow-hidden transition-shadow duration-300 flex flex-col">
            <div class="flex-shrink-0 h-44 w-full flex items-center justify-center blog-pre-img relative">
                {{ Image.Default(entry.singleImage.one()) }}
            </div>
            <div class="grid grid-cols-1 flex-1 content-between p-6">
                <div class="flex flex-col justify-self-start flex-1">
                    <p class="text-sm text-gray-600">
                        {{ entry.postDate|date('F j, Y') }}
                    </p>

                    <h3 class="text-2xl font-semibold mb-4">
                        <a href="{{ entry.url }}" class="text-gray-800 hover:text-black transition-colors duration-200">{{ entry.title }}</a>
                    </h3>

                    {{ entry.richText50 }}
                </div>


                <div class="justify-self-end">
                    {{ Button.default({
                        text: 'View Blog Post',
                        link: entry.url,
                        type: 'default'
                    }) }}
                </div>

            </div>
        </article>
    {% endfor %}
</div>

<style>
    .blog-pre-img img {
        border-radius: 10px;
    }
</style>