{% macro Title(text, textColor, bgColor) %}
   <h1 class="text-5xl !pb-0 w-max text-textDark" style="color: {{ textColor ?? '' }}; background-color: {{ bgColor ?? '' }};">{{ text ?? 'Title' }}</h1>
{% endmacro %}

{% macro Subtitle(text, textColor, bgColor) %}
   <h2 class="w-max text-textDark" style="color: {{ textColor ?? '' }}; background-color: {{ bgColor ?? '' }};">{{ text ?? 'Subtitle' }}</h2>
{% endmacro %}

{% macro RichText(richText, textColor) %}
   <div class="prose-textDark" style="color: {{ textColor ?? '' }}" class="prose">
      {{ richText }}
   </div>
{% endmacro %}